.categoryCard {
    height: 130px;
    width: 130px;
    margin: 1em;
}

.categoryCardArea {
    display: flex !important;
    height: 100%;
    width: 100%;
}

.categoryImage {
    width: 130px;
    height: 130px;
    position: absolute;
    filter: blur(3px);
}

.categoryImage > img {
    object-fit: cover;
}

.label {
    position: relative;
    z-index: 1;
    color:white;
    justify-content:center;
    font-size: 24px;
}