.productCard {
    margin-top: 1em;
    font-size: 16px;
}

.productTitle {
    font-weight: bold;
    text-align: start;
}

.productImage {
    width: 65px;
    height: 65px;
}

.productImage > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cardArea {
    display: flex;
}

.productCardInfo {
    justify-content: start;
    width: 190px;
}

.productCardInfo p {
    margin: 0.5em;
}

.price {
    text-align: end;
}

.titleLine {
    display: flex;
    justify-content: space-between;
}